<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quik-Bank</title>
</head>-->
<body> 
    <div class="container">
        <div class="desc" style="position:relative;">
            <p>
                Amazing<br>
                Create Your Bank Account <br>
                Online!<br>
            <span class="height_span">Make Your Life More Engaging.</span><br>
            </p>
            <a class="fancy" routerLink="/signup">
                <span class="top-key"></span>
                <span class="text">Joinez-nous</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
              </a>
        </div>
        <div class="pic">
            <img src="/assets/bankvextor.svg" alt="">
        </div>
        

    </div>
 </body>
<!-- </html>  -->