<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Quik Bank <br> Registration Form</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row clearfix">
                <div class="col_half">
                  <div class="input_field"> <span class="pt-2"><i aria-hidden="true" class="bi bi-person-fill"></i></span>
                    <input type="text" placeholder="Nom" formControlName="nom" />
                  </div>
                </div>
                <div class="col_half">
                  <div class="input_field"> <span class="pt-2"><i aria-hidden="true" class="bi bi-person-fill"></i></span>
                    <input type="text" placeholder="Prenom" required formControlName="prenom" />
                  </div>
                </div>
            </div>
            <div class="input_field"> <span class="pt-2"><i class="bi bi-envelope"></i></span>
              <input type="email" placeholder="Email" required formControlName="mail" />
            </div>
            
            <div class="input_field"> <span class="pt-2"><i class="bi bi-person-circle"></i></span>
                <input type="text" placeholder="Nom d'utilisateur" formControlName="username"/>
            </div>
            <div class="input_field"> <span class="pt-2"><i class="bi bi-key"></i></span>
              <input type="password" placeholder="Mot de passe" required  formControlName="motdepasse" />
            </div>
            <input class="button" type="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <button><a href="" routerLink="/exchange">click t</a></button> -->
  